{
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

#{
#	acme_dns cloudflare {file./run/secrets/CLOUDFLARE_API_TOKEN}
#}

{$LANDOMAIN}, {$TSDOMAIN} {
	root * /srv
	encode
	file_server
}

*.{$LANDOMAIN}, *.{$TSDOMAIN} {
	@immich host immich.{$LANDOMAIN} immich.{$TSDOMAIN}
	handle @immich {
		reverse_proxy http://immich_server:2283
	}

	@pihole host pihole.{$LANDOMAIN} pihole.{$TSDOMAIN}
	handle @pihole {
		redir / /admin{uri}
		reverse_proxy http://172.17.0.1:8080
	}

	@test host test.{$LANDOMAIN} test.{$TSDOMAIN}
	handle @test {
		respond "This is a test, proving that Caddy is running :)"
	}

	@uptime-kuma host uptime-kuma.{$LANDOMAIN} uptime-kuma.{$TSDOMAIN}
	handle @uptime-kuma {
		reverse_proxy http://uptime-kuma:3001
	}

	@hugo host hugo.{$LANDOMAIN} hugo.{$TSDOMAIN}
	handle @hugo {
		reverse_proxy http://hugo:1313
	}

	handle {
		respond "The subdomain you attempted to navigate to is not configured."
	}
}
